body {
    font-family: 'Roboto', sans-serif;
}

.title {
    color:red;
    font-weight: 500;
}

a {
    text-decoration: none;
}

p {
    font-weight: 300;
}

#subtitle {
    font-weight: 300;
    font-style: italic;
}

li {
    list-style: none;
}

.rights{
    font-weight: 300;
    font-style: italic;
}

